form {
    padding-bottom: 2rem;
}
  
label {
    color: #dab903;
}
  
#submitButton {
    background-color: #dab903;
    color: #323330;
}
  
#submitButton:hover {
    color: #323330;
    opacity: 50%;
}