nav {
    background-color: #323330;
    border-bottom: 2px solid #cccccc;
}

a {
    color: #323330;
}

a:hover {
    color: #323330;
    opacity: 50%;
}

.navbar {
    padding: 0;
    margin-bottom: 2.5rem;
}

.navbar-brand {
    background-color: #dab903;
    color: #323330 !important;
    padding: 1rem 1.5rem 1rem 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    background-color: #323330;
    padding-left: 0;
    padding-right: 0;
}

#left-nav {
    border-right: 1px solid #cccccc;
    padding-right: 24px;
    color: #dab903;
}

#left-nav:hover, #right-nav:hover, #center-nav:hover {
    opacity: 50%;
}

#center-nav {
    border-right: 1px solid #cccccc;
    padding: 0 24px;
    color: #dab903;
}

#right-nav {
    padding-left: 24px;
    color: #dab903;
}

@media screen and (max-width: 992px) {
    #left-nav, #center-nav, #right-nav {
        border-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .nav-item {
        padding-right: 1rem;
    }
}